body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
}

.img-sidebar {
    background-image: url(./photo.jpg);
    background-position: 90%;
    background-size:cover;
    background-repeat: no-repeat;
    min-width: 35vw;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #e5dcd5;
}

.heading-text {
    font-weight: 300;
    font-size: 1.3em;
}

form {
    height: 30vh;
    background-color: #fbfafa;
}

.upper-section {
    margin: 120px 0px 35px 35px;
    display: flex;
    flex-direction: column;
}

header {
    padding-left: 35px;
    background-color: #fbfafa;
}

header > h1 {
    font-weight: 500;
}

.lower-section {
    margin: 35px 0px 50px 35px ;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.lower-section > button {
    width: 15%;
    height: 3.5vh;
    border-radius: 10px;
    background-color: #5c6c36;
    color: #fbfafa;
    border-style: none;
    font-weight: 500;
}

.log-in-section {
    display: flex;
    gap: 3px;
}

.log-in-section > button {
    border-style: none;
    background-color: #e5dcd5;
    color: #5c6c36;
    font-weight: 600;
}