body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
}

.img-sidebar {
    background-image: url(./photo.jpg);
    background-position: 90%;
    background-size:cover;
    background-repeat: no-repeat;
    min-width: 60vw;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #e5dcd5;
}

.heading-text {
    font-weight: 300;
    font-size: 1.3em;
}

form {
    background-color: #fbfafa;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: start;
    padding: 0px 10px 35px 35px;
    gap: 15px;
}

.form-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input {
    height: 2rem;
    width: 18rem;
}

input:invalid {
    border: 1px solid #b92326;
    background-color: rgba(185, 35, 38, 0.25);
}

input:focus:invalid {
    background-color: transparent;
    border: 1px solid #b92326;
}

input:valid {
    border: 1px solid #8BC34A;
    background-color: rgba(139, 195, 74, 0.25);
}

input:focus:valid {
    border: 1px solid #8BC34A;
    background-color: transparent;
}

.upper-section {
    margin: 200px 0px 35px 35px;
    display: flex;
    flex-direction: column;
}

header {
    padding-left: 35px;
    background-color: #fbfafa;
}

header > h1 {
    font-weight: 500;
}

.lower-section {
    padding: 25px 0 0 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    background-color: #e5dcd5;
}

.lower-section > button {
    font-size: 1rem;
    width: 14rem;
    height: 2.5rem;
    border-radius: 10px;
    background-color: #5c6c36;
    color: #fbfafa;
    border-style: none;
    font-weight: 500;
}

.log-in-section {
    font-size: 1.1rem;
    display: flex;
    gap: 3px;
}

.log-in-section > button {
    border-style: none;
    background-color: #e5dcd5;
    color: #5c6c36;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
}